.intro-container {
  position: relative;
  height: 80vh;
  overflow: hidden;
}

.intro-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.intro-content {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);

  h1 {
    font-size: 60px;
    font-weight: 700;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }

  h2 {
    font-size: 40px;
  }

  p {
    font-size: 20px;
    margin-top: 10px;
  }
}
